* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.body {
    background-color: #F3FAF9;
}


.nav_link {
    display: flex;
    
}

.link_eng > li:first-child {
    margin-left:-100px; 
    margin-top: -2px;
}
.link_eng > li:nth-child(2) {
    margin-top: -28px; 
    margin-left: -40px;
}
.link_eng > li> Button {
    padding: 10px; 
    background-color: #226BD0; 
    border: 1px;
}
.link_eng > li> Button > p {
    color: #FFFFFF; 
    font-weight: 'semi-bold';
}
.navbar {
    display: flex;

}
.navbar > ul {
    margin-left: 498px;
    list-style: none;
    margin-left: 280px;
}
.navbar > ul > li {
    margin-left: 30px;
    color: #5E5C6D;
    font-size: 18px;
    line-height: 30px;
    color: #5E5C6D;
    font-family: 'Regular';
    font-family: Inter;
    
}

.navbar > ul > li:hover {
    color: #276ED1;
}
.active a {
    color: #276ED1;
}
.content_nav {
    margin-top: 100px; 
    display: flex
}
.content_nav_text>h1:first-child{
    color: #182E4E; 
    font-size: 68px; 
    line-height: 78px; 
    font-weight: 'SemiBold';
}

.content_nav_text>h1:nth-child(3) {
    margin-top: -20px; 
    color: #182E4E; 
    font-size: 68px; 
    line-height: 78px; 
    font-weight: 'SemiBold';
}

.content_nav_text>h1:nth-child(5) {
    margin-top: -20px; 
    color: #182E4E; 
    font-size: 68px; 
    line-height: 78px; 
    font-weight: 'SemiBold';
}

.content_nav_text>p:nth-child(6) {
    margin-top: 16px; 
    color: #868592; 
    font-size: 20px; 
    line-height: 32px;
}

.logIn {
    margin-top: 36px; 
    width: 160px; 
    height: 59px; 
    background-color: #226BD0; 
    border: none;
}
.logIn:hover {
    transform: scale(1.1);
}
.logIn>p {
    font-size: 18px; 
    line-height: 30px; 
    color: #FFFFFF;
}
.logIn>p>a {
    text-decoration: none;
    color: #FFFFFF;
}
.content_nav_amount {
    margin-top: 80px; 
    display: flex;
}
.content_nav_amount1 >p {
    margin-top: 20px; 
    font-size: 18px; 
    line-height: 30px; 
    color: #8A8893;
}
.content_nav_amount2 {
    margin-left: 30px;   
}
.content_nav_amount2>p {
    margin-top: 20px; 
    font-size: 18px; 
    line-height: 30px; 
    color: #8A8893;
}
.content_nav_amount3 {
    margin-left: 30px;   
}
.content_nav_amount3>p {
    margin-top: 20px; 
    font-size: 18px; 
    line-height: 30px; 
    color: #8A8893;
}
.content_nav_img {
    margin-left: 40px; 
    z-index: -1;
}
.search {
    width: 870px; 
    height: 155px; 
    background-color: #FFFFFF; 
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-top: -5px;
}
.search_price > h2{
    margin-top: 30px; 
    margin-left: -100px; 
    font-weight: 'SemiBold'; 
    color: #182E4E; 
    line-height: 30px; 
    width: 500px;
}

.select {
    display: flex; margin-top: 92px; width: 200px;
}
.select>button:first-child {
    margin-left: -500px; 
    width: 200px; height: 49px; 
    background-color:#F3FAF9; 
    border-width: 1px;
}

.select>button:first-child > p{
    margin-left: -80px; 
    font-size: 16px; 
    line-height: 28px; 
    color: #2B2626;
}
.select>button:nth-child(2) {
    margin-left: 40px; 
    width: 200px; 
    height: 49px; 
    background-color:#F3FAF9; 
    border-width: 1px;
}
.select>button:nth-child(2) > p {
    margin-left: -80px; 
    font-size: 16px; 
    line-height: 28px; 
    color: #2B2626;
}

.select>button:nth-child(3) {
    margin-left: 40px; 
    width: 200px; 
    height: 49px; 
    background-color:#F3FAF9; 
    border-width: 1px;
}
.select>button:nth-child(3) > p {
    margin-left: -80px; 
    font-size: 16px; 
    line-height: 28px; 
    color: #2B2626;
}

.select>button:nth-child(4) {
    margin-left: 20px; 
    width: 140px; 
    height: 49px; 
    background-color:#226BD0; 
    border: none;
}
.select>button:nth-child(4) > p {
    font-size: 16px; color: #FFFFFF
}

.Fetures {
    background-color: white; 
    margin-top: -60px; 
    width: 100%; 
    height: 1000px;
    display: flex;
}
.title_fetures {
    padding-top: 200px; 
    color: #182E4E; 
    font-family: 'poppins'; 
    font-size: 40px; 
    line-height: 50px; 
    font-weight: 'SemiBold';
}
.reason1 {
    display: flex; margin-top: 80px;
}

.resonDetail1 {
    margin-left: 50px;
}
.resonDetail1 > h3 {
    color: #182E4E; 
    font-size: 32px; 
    line-height: 42px; 
    font-family: 'poppins'; 
    font-weight: 'semiBold';
}

.resonDetail1 > p {
    color: #868592; 
    font-size: 18px; 
    
    line-height: 25px;
}

.reason2 {
    display: flex; margin-top: 40px;
}
.resonDetail2 {
    margin-left: 50px;
}
.resonDetail2 > h3 {
    color: #182E4E; 
    font-size: 32px; 
    line-height: 42px; 
    font-family: 'poppins'; 
    font-weight: 'semiBold';
}
.resonDetail2 > p {
    color: #868592; font-size: 18px; line-height: 25px;
}

.reason3 {
    display: flex; margin-top: 40px;
}

.resonDetail3 {
    margin-left: 50px;
}
.resonDetail3 > h3 {
    color: #182E4E; 
    font-size: 32px; 
    line-height: 42px; 
    font-family: 'poppins'; 
    font-weight: 'semiBold';
}
.resonDetail3 > p {
    color: #868592; font-size: 18px; line-height: 25px;
}
.img_Fetures {
    display: flex; margin-top: -530px; margin-left: 620px;
}
.img_Fetures_4866 {
    z-index: 5; position: relative; right: 180px; top: 40px;
}
.img_Fetures_4865 {
    z-index: 1; position: absolute;
}

/* popular///////////////////////////////////// */
.popular {
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    height: 100px;
}

.popular > .container_body > h1 {
    font-size: 30px; 
    line-height: 50px; 
    color: #182E4E; 
    font-weight: 'semiBold';
}

.popular > .container_body > p {
    margin-left: 220px; 
    font-size: 16px; 
    color: #868592; 
    line-height: 26px;
}
.group_arrow {
    margin-left: 300px; padding-top: 10px;
}
.popular_price {
    background-color: #FFFFFF;
    width: 100%;
    display: flex;   
}

.popular_content1 {
    border: 10px solid rgb(254, 253, 253); 
    box-shadow: 5px 5px 5px rgb(224, 224, 220);
}

.popular_content1 >h3 {
    color: #182E4E; 
    font-family: 'poppins'; 
    font-size: 22px; 
    line-height: 32px; 
    font-family: 'SemiBold'; 
    margin-top: 10px;
}
.popular_content1 >p {
    font-size: 11; 
    color: #868592; 
    font-family: 'Poppins'; 
    line-height: 23px; 
    margin-top: 10px;
}

.group_room1 {
    display: flex; 
    margin-top: 30px; 
    color: #868592; 
    line-height: 20px; 
    font-family: 'Poppins';
}
.group_room1 > p:first-child {
    margin-left: 20px;
}

.group_room1 > p:nth-child(2) {
    margin-left: 35px;
}

.group_room1 > p:nth-child(3) {
    margin-left: 35px;
}

.group_detail1 {
    display: flex;
    margin-top: 5px; 
    color: #182E4E;
    line-height: 23px; 
    font-family: 'Poppins'; 
    font-weight: 600;
}

.group_detail1 > p:nth-child(2) {
    margin-left: 6px;
}

.group_detail1 > p:nth-child(3) {
    margin-left: 70px;
}

.group_detail1 > p:nth-child(4) {
    margin-left: 47px;
}

.popular_content2 {
    border: 10px solid rgb(254, 253, 253); 
    box-shadow: 5px 5px 5px rgb(224, 224, 220); 
    margin-left: 40px;
}

.popular_content2 >h3 {
    color: #182E4E; 
    font-family: 'poppins'; 
    font-size: 22px; 
    line-height: 32px; 
    font-family: 'SemiBold'; 
    margin-top: 10px;
}
.popular_content2 >p {
    font-size: 11; 
    color: #868592; 
    font-family: 'Poppins'; 
    line-height: 23px; 
    margin-top: 10px;
}

.group_room2 {
    display: flex; 
    margin-top: 30px; 
    color: #868592; 
    line-height: 20px; 
    font-family: 'Poppins';
}
.group_room2 > p:first-child {
    margin-left: 20px;
}

.group_room2 > p:nth-child(2) {
    margin-left: 35px;
}

.group_room2 > p:nth-child(3) {
    margin-left: 35px;
}

.group_detail2 {
    display: flex; 
    margin-top: 5px; 
    color: #182E4E;
    line-height: 23px; 
    font-family: 'Poppins'; 
    font-weight: 600;
}

.group_detail2 > p:nth-child(2) {
    margin-left: 6px;
}

.group_detail2 > p:nth-child(3) {
    margin-left: 70px;
}

.group_detail2 > p:nth-child(4) {
    margin-left: 47px;
}
/* *3333333333333 */
.popular_content3 {
    border: 10px solid rgb(254, 253, 253); 
    box-shadow: 5px 5px 5px rgb(224, 224, 220); 
    margin-left: 40px;
}

.popular_content3 >h3 {
    color: #182E4E; 
    font-family: 'poppins'; 
    font-size: 22px; 
    line-height: 32px; 
    font-family: 'SemiBold'; 
    margin-top: 10px;
}
.popular_content3 >p {
    font-size: 11; 
    color: #868592; 
    font-family: 'Poppins'; 
    line-height: 23px; 
    margin-top: 10px;
}

.group_room3 {
    display: flex; 
    margin-top: 30px; 
    color: #868592; 
    line-height: 20px; 
    font-family: 'Poppins';
}
.group_room3 > p:first-child {
    margin-left: 20px;
}

.group_room3 > p:nth-child(2) {
    margin-left: 35px;
}

.group_room3 > p:nth-child(3) {
    margin-left: 35px;
}

.group_detail3 {
    display: flex; 
    margin-top: 5px; 
    color: #182E4E;
    line-height: 23px; 
    font-family: 'Poppins';
    font-weight: 600;
}

.group_detail3 > p:nth-child(2) {
    margin-left: 6px;
}

.group_detail3 > p:nth-child(3) {
    margin-left: 70px;
}

.group_detail3 > p:nth-child(4) {
    margin-left: 47px;
}

/* ///////////////////// */
.security {
    padding-top: 110px;
    width: 100%;
    background-color: #FFFFFF;
    padding-bottom: 270px;
}

.wrap {
    text-align: center; margin-left: 1%;
}
.wrap > h3:first-child {
    display: inline-block; 
    font-size: 40px; 
    line-height: 50px; 
    color: #182E4E; 
    font-family: 'Poppins'; 
    font-style: 'SemiBold';
}
.wrap > h3:nth-child(3)  {
    font-size: 40px; 
    line-height: 50px; 
    color: #182E4E; 
    font-family: 'Poppins'; 
    font-style: 'SemiBold'
}

.wrap > p {
    font-size: 18px; 
    line-height: 30px; 
    color: #868592; 
    font-family: 'Inter'; 
    margin-top: 20px;
}
.review {
    width: 100%;
    height: 500px;
}

.security_extra {
    margin-top: 50px; display: flex;
}
.security_extra_detail {
    padding-top: 50px;
}

.security_extra_detail >h1 {
    font-size: 36px; 
    line-height: 46px; 
    font-style: 'SemiBold'; 
    color: #182E4E; 
    margin-top: 6px;
}

.security_extra_detail >p {
    font-size: 18px; 
    line-height: 30px; 
    color: #868592; 
    margin-top: 20px;
}

.security_extra_detail > button {
    margin-top: 40px; 
    background-color: #226BD0; width: 169px;
    height: 51px; border: none;
}

.security_extra_detail > button >p {
    font-size: 18px; 
    line-height: 28px;
     font-style: 'SemiBold'; 
     color: #FFFFFF;
}

.review  > .container_body > h1{
    padding-top: 50px; 
    font-size: 40px; 
    line-height: 50px; 
    font-family: 'SemiBold';
     color: #182E4E;
}

.image-slider {
    display: flex;
}

.information_reviewer1 {
    margin-left: 30px;
}
.information_reviewer1 > h3 {
    font-size: 40px; 
    line-height: 50px; 
    font-family: 'SemiBold';
    color: #182E4E
}

.information_reviewer1 > p {
    font-size: 18px; 
    line-height: 30px; 
    font-family: 'Regular'; 
    color: #868592; 
    font-style: 'Inter';
}

.information_reviewer1 > li {
    font-size: 18px; 
    line-height: 30px; 
    font-family: 'SemiBold'; 
    color: #182E4E; 
    font-style: 'Inter'; 
    font-weight: 600
}
.image-item1 {
    display: flex; margin-top: 40px;
}
.image-item2 {
    display: flex; margin-top: 40px; margin-left: 20px;
}

.information_reviewer2 {
    margin-left: 30px;
}

.information_reviewer2 > h3 {
    font-size: 40px; 
    line-height: 50px; 
    font-family: 'SemiBold'; 
    color: #182E4E
}

.information_reviewer2 > p {
    font-size: 18px; 
    line-height: 30px; 
    font-family: Regular; 
    color: #868592; font-style: 'Inter';
}

.information_reviewer2 > li {
    font-size: 18px; 
    line-height: 30px; 
    font-family: 'SemiBold'; 
    color: #182E4E; 
    font-style: 'Inter'; 
    font-weight: 600
}



.address {
    width: 100%;
    background-color: #FFFFFF;
    /* height: 500px; */
    
}
.address > .container_body > .wrap  {
    background-color: #2B3F65; height: 391px;
}
.address > .container_body > .wrap > h1 {
display: flex; 
justify-content: center; 
padding-top: 100px; 
font-size: 40px; 
line-height: 50px; 
 font-family: 'SemiBold'; 
 font-style: 'Poppins'; 
 color: #FFFFFF;
}

.address > .container_body > .wrap > p {
display: flex; 
justify-content: center; 
padding-top: 20px; 
font-size: 18px; 
line-height: 30px;                    
font-family: 'Regular'; 
font-style: 'Inter'; 
color: #E0DEDE;
}

.address > .container_body > .wrap > input {
 width: 609px; 
 height: 79px; 
margin-left: -20px;
 margin-top: 30px;
}

.service > ul {
    display: flex; float: right
}
.footer {
    width: 100%;
    background-color: #FFFFFF;
}
.logo > p {
    font-size: 20px; 
    line-height: 30px; 
    font-family: 'Regular'; 
    font-style: 'Inter'; color: #736868; 
    margin-top: 20px
}

.icons > ul {
    display: flex; float: right;
}
.service > ul > li{
    list-style: none;
    margin-left: 30px;
}

.service > ul {
    margin-top: -100px;
    font-size: 20px;
    line-height: 30px;
    color: #736868;
    font-family: 'Regular';
}

.icons > ul > li{
    list-style: none;
    margin-left: 30px;
}

.icons > ul {
    margin-top: -50px;
}

column {
    width: 100%;
} 

@media (max-width: 768px) {
    .column {
        width: 50%;
    }
    .nav_link{
        display: table ;
    }
}